########################################
########################################
# RHEL Aliases
# Author: Will Poillion
########################################
########################################


# Basic
alias c='clear'
# Default editor
alias edit='nano'

alias back='cd -'

########################################
# Directories
alias pythond='cd /var/www/python'
alias rubyd='cd /var/www/ruby'
alias phpd='cd /var/www/php'
alias logs='cd /var/log/httpd'
########################################





########################################
## Colorize the ls output ##
alias ls='ls --color=auto'
## Use a long listing format ##
alias l='ls -Fla'
## Show hidden files ##
alias l.='ls -d .* --color=auto'
########################################


########################################
# CD
# get rid of command not found ##
alias cd..='cd ..'
## a quick way to get out of current directory ##
alias ..='cd ..'
alias ...='cd ../../../'
alias ....='cd ../../../../'
alias .....='cd ../../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'
########################################


########################################
# handy short cuts #
alias h='history'
alias j='jobs -l'

# Path / Date
alias path='echo -e ${PATH//:/\\n}'
alias now='date +"%T"'
alias nowtime=now
alias nowdate='date +"%d-%m-%Y"'
########################################


########################################
# YUM
alias update='yum update'
alias updatey='yum -y update'
alias y='yum install'

########################################



########################################
# become root #
alias root='sudo -i'
#alias su='sudo -i'
########################################


########################################
# Disk Usage
#alias du='du -ch'
alias du='du -sh'
#alias df='df -H'
alias df='df -kh'
########################################

