<%= salsa_partial "extend_document" %>
<style>
@media print {
	section {
		page-break-after: always;
	}
}
</style>
<div id="banner" style="margin-left:20px;">
	<img src="https://drive.google.com/uc?export=view&amp;id=0B_RxBaBMYxt8cURMS3VlQmF0NTA" alt="College of Professional and Continuing Studies - University of Oklahoma" data-api-endpoint="" data-api-returntype="File" style="width:100%;">
</div>
<br>
  
<!-- spacer for preview modal -->
<div id="spacer">&nbsp;</div>


  
<div id="accordion" style="margin-left:20px;">


<!-- each tab is represented by a section with an ID that identifies it -->
<section id="information">
    <!-- content class is the initial content for the tab -->
    
    <h3>Information</h3>
    
    <div class="content" style="padding-left:10px; padding-bottom: 10px;">
    
	        <header id="title1I">
	                <h1>
	                    <div class="editable">Course Title</div>
	                    <div class="editable">Course Number | Term/Year</div>
	                </h1>
	        </header>
	        <div id="section1I" class="section1">
	            <div id="contacts1I" class="contacts">
		            <h3>Faculty Information:</h3>
						<p>To obtain the name and contact information of the course section instructor, select the "Instructor" link on the left navigation.</p>
					<h3>Learning Management System:</h3>
						<p><a href='http://canvas.ou.edu/' target='_blank'>http://canvas.ou.edu/</a></p>
					<h3>Course Meeting Time and Location:</h3>
						<p>Online</p>
					<h3>Course Prerequisite:</h3>
						<div class="editableHtml"></div>
					<h3>Course Delivery:</h3>
						<p>Online</p>
					<h3>Catalog Description:</h3>
						<div class="editableHtml"></div>	
					<h3>Course Goals:</h3>
						<div class="editableHtml"></div>		
				 </div>
	        </div><!-- .section1 -->
	
	       <div id="section2I" class="section2 hide">
	            <h2 class="editable">Section 2</h2>
	            <div id="headings2I" class="headings">
	                <div class="details">
	                    <div class="description">
	                        <h3 class="editable" data-can-delete="true">Heading</h3>
	                        <div class="editableHtml">
	                            Text
	                        </div>
	                    </div>                                                                                             
	                </div>
	            </div>                                                                                                    
	        </div><!-- .section2--> 
	
	        <div id="section3I" class="section3 hide">
	            <h2 class="editable">Section 3</h2>
	            <div id="headings3I" class="headings">
	                <div class="details">
	                    <div class="description">
	                        <h3 class="editable" data-can-delete="true">Heading</h3>
	                        <div class="editableHtml">
	                            Text
	                        </div>
	                    </div>                                                                                             
	                </div>
	            </div>                                                                                                   
	        </div><!-- .section3--> 
	
	        <div id="section4I" class="section4 hide">
	            <h2 class="editable">Section 4</h2>
	            <div id="headings4I" class="headings">
	                <div class="details">
	                    <div class="description">
	                        <h3 class="editable" data-can-delete="true">Heading</h3>
	                        <div class="editableHtml">
	                            Text
	                        </div>
	                    </div>                                                                                             
	                </div>
	            </div>                                                                                                   
	        </div><!-- .section4--> 


    </div><!-- .content -->

</section><!-- #information -->

<section id="outcomes">

    <h3>Outcomes</h3>

    <div class="content" style="padding-left:10px; padding-bottom: 10px;">
        <div id="section1O" class="section1">
            <h3>Learning Outcomes</h3>
            <div>Upon completion of this course you will be able to:</div>
                <!-- bullets should be visible in this list -->
                <div id="headings1O" class="headings">
                    <div class="editableHtml">
                        <ul class="outcomes_list">
                            <li>Outcome text here</li>
						</ul>
                    </div>
                </div>    
        </div><!-- .section1 -->
       
       <div id="section2O" class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div id="headings2O" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section2--> 

        <div id="section3O" class="section3 hide">
            <h2 class="editable">Section 3</h2>
            <div id="headings3O" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section3--> 

       <div id="section4O" class="section4 hide">
            <h2 class="editable">Section 4</h2>
            <div id="headings4O" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section4--> 

    </div><!-- .content -->

</section><!-- #outcomes -->


<section id="resources">

	<h3>Resources</h3>

    <div class="content" style="padding-left:10px; padding-bottom: 10px;">
        <div id="section1R" class="section1">
            <h3>Texts and Materials:</h3>
				<div class="editableHtml"></div>
      
        </div><!-- .section1 -->
       
       <div id="section2R" class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div id="headings2R" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section2--> 

        <div id="section3R" class="section3 hide">
            <h2 class="editable">Section 3</h2>
            <div id="headings3R" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section3--> 

       <div id="section4R" class="section4 hide">
            <h2 class="editable">Section 4</h2>
            <div id="headings4R" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section4--> 

    </div><!-- .content -->

</section><!-- #resources -->

<section id="activities">

	<h3>Learning Activities and Assessments</h3>

    <div class="content" style="padding-left:10px; padding-bottom: 10px;">

        <div id="section1A" class="section1">
		
		 	<!-- bullets should be visible in this list -->
            	<div id="headings1O" class="headings">
                	<div class="editableHtml">
               		</div>
            	</div>  
			
        </div><!-- .section1 -->
       
       <div id="section2A" class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div id="headings2A" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section2--> 

        <div id="section3A" class="section3 hide">
            <h2 class="editable">Section 3</h2>
            <div id="headings3A" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section3--> 

       <div id="section4A" class="section4 hide">
            <h2 class="editable">Section 4</h2>
            <div id="headings4A" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section4--> 

    </div><!-- .content -->

</section><!-- #activities -->

<section id="grades">

	<h3>Grades</h3>

    <div class="content" style="padding-left:10px; padding-bottom: 10px;">
        <div id="section_break_P" class="section_break_P hide">
            <div class="editableHtml page_break">
                <div align="center">
                    ----Please see next page for Grades information----
                </div>
            </div>
        </div><!-- .section5--> 

        <div id="section1G" class="section1">
            <div class="details">
                <div class="description">
                    <div>
                        <table id="grade_components" class="components" border="1">
                            <caption class="grade editable">Your grade will be based on the following:</caption>
                            <thead>
                                <tr><th>Unit</th><th>Items</th><th>Points</th></tr>
                            </thead>
                            <tfoot>
                                <tr class="total nodrag"><td></td><td>Total Points</td><td class="right">-</td></tr>
                            </tfoot>
                            <tbody>
                                    <tr id="1.1"><td class="editable">#</td><td class="editable">Item</td><td class="editable right">-</td></tr>
                                    <tr id="1.2"><td class="editable">#</td><td class="editable">Item</td><td class="editable right">-</td></tr>
                            </tbody>
                        </table>
	                    <div id="tableText1G" class="tableText"> 
	                        <div class="editableHtml hide">Text</div>
	                    </div>  
                    </div>
                </div>
            </div>
        </div><!-- .section1 -->
        
        <div id="section2G" class="section2 hide">
            <div class="details">
                <div class="description">
                    <div>
                        <table id="extra_credit" class="components" border="1">
                            <caption>You will have the opportunity to earn Extra Credit:</caption>
                            <thead>
                                <tr><th class="editable">Items</th><th>Points</th></tr>
                            </thead>
                            <tfoot>
                                <tr class="total nodrag"><td>Total Extra Credit Points</td><td class="right">-</td></tr>
                            </tfoot>
                            <tbody>
                                <tr id="2.1"><td class="editable">Item</td><td class="editable right">-</td></tr>
                            </tbody>
                        </table>
	                    <div id="tableText2G" class="tableText"> 
	                        <div class="editableHtml hide">Text</div>
	                    </div>  
                    </div> 
                </div>
            </div>                                                                                         
        </div><!-- .section2 -->
        
        <div id="section3G" class="section3">
            <div class="details">
                <div class="description">
                    <div>
                        <table id="grade_scale" class="components inactive" border="1">
                                <caption class="grade editable">Your grade will be calculated with this scale:</caption>
                                <thead>
                                    <tr><th>Grade</th><th>Percentage</th><th>Points</th></tr>
                                </thead>
                                <tbody class="center">
                                    <tr>
                                        <td>A</td>
                                        <td>
                                            <span class="editable minRange">90</span>
                                            -
                                            <span class="maxRange">100</span>
                                        </td>
                                        <td>-</td>
                                    </tr>
                                   

                                    <tr class="even">
                                        <td>B</td>
                                        <td>
                                            <span class="editable minRange">80</span>
                                            -
                                            <span class="maxRange">89</span>
                                        </td>
                                        <td>-</td>
                                    </tr>
                                  

                                    <tr>
                                        <td>C</td>
                                        <td>
                                            <span class="editable minRange">70</span>
                                            -
                                            <span class="maxRange">79</span>
                                        </td>
                                        <td>-</td>
                                    </tr>
                                   

                                    <tr class="even">
                                        <td>D</td>
                                        <td>
                                            <span class="editable minRange">60</span>
                                            -
                                            <span class="maxRange">69</span>
                                        </td>
                                        <td>-</td>
                                    </tr>

                                    <tr>
                                        <td>F</td>
                                        <td>
                                            <span class="minRange">0</span>
                                            -
                                            <span class="maxRange">59</span>
                                        </td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- .section3 -->
        
        
        <div class="editableHtml">
        </div>
        
    </div><!-- .content -->
    
</section><!-- #grades -->

<section id="schedule">

	<h3>Learning Outcomes</h3>

    <div class="content" style="padding-left:10px; padding-bottom: 10px;">
        <div id="section1S" class="section1 hide">
            <div class="page_break editableHtml">
                <div align="center">
                    ----Please see next page for Schedule information----
                </div>
            </div>
        </div><!-- .section1S-->

        <h2 class="editable"></h2> 
        <div id="section2S" class="section2">
            <div class="details">
                <div class="description">
                    <div>
                        <table id="table1" class="schedule" border="1">
                            <thead>
                                <tr>
                                    <th id="col2S-1" class="col-left40">Learning Outcomes</th>
                                    <th id="col2S-2" class="col-middle20">Learning Activities</th>
                                    <th id="col2S-3" class="col-middle10">Assignments</th>
                                    <th id="col2S-4" class="col-middle10">Discussions</th>
									<th id="col2S-5" class="col-middle10">Quizzes</th>
									<th id="col2S-6" class="col-right10 editable">Other</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td header="col2S-1" class="editable left">Text</td>
                                    <td header="col2S-2" class="editable left">Text</td>
                                    <td header="col2S-3" class="editable center">-</td>
                                    <td header="col2S-4" class="editable center">-</td>
                                    <td header="col2S-5" class="editable center">-</td>
                                    <td header="col2S-6" class="editable center">-</td>
                                </tr>
                            </tbody>
                        </table>
	                    <div id="tableText2S" class="tableText"> 
	                        <div class="editableHtml hide">Text</div>
	                    </div>  
                    </div>
                </div>
            </div>
        </div><!-- #table1 -->

        <div id="section3S" class="section3 hide">
            <div class="details">
                <div class="description">
                    <div>
                        <table id="table2" class="schedule" border="1">
                            <caption class="editable">Table 2 Caption</caption>
                            <thead>
                                <tr>
                                    <th id="col3S-1" class="col-left40">Learning Outcomes</th>
                                    <th id="col3S-2" class="col-middle20">Learning Activities</th>
                                    <th id="col3S-3" class="col-middle10 editable">Other</th>
                                    <th id="col3S-4" class="col-middle10 editable">Other</th>
									<th id="col3S-5" class="col-middle10 editable">Other</th>
									<th id="col3S-6" class="col-middle10 editable">Other</th>
									<th id="col3S-7" class="col-right10 editable">Other</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td header="col3S-1" class="editable left">Text</td>
                                    <td header="col3S-2" class="editable left">Text</td>
                                    <td header="col3S-3" class="editable center">-</td>
                                    <td header="col3S-4" class="editable center">-</td>
                                    <td header="col3S-5" class="editable center">-</td>
                                    <td header="col3S-6" class="editable center">-</td>
                                    <td header="col3S-7" class="editable center">-</td>
                                </tr>
                            </tbody>
                        </table>
	                    <div id="tableText3S" class="tableText"> 
	                        <div class="editableHtml hide">Text</div>
	                    </div>  
                    </div>
                </div>
            </div>
        </div><!-- #table2 -->

        <div id="section4S" class="section4 hide">
            <div class="details">
                <div class="description">
                    <div>
                        <table id="table3" class="schedule" border="1">
                            <caption class="editable">Table 3 Caption</caption>
                            <thead>
                                <tr>
                                    <th id="col4S-1" class="col-left40">Learning Outcomes</th>
                                    <th id="col4S-2" class="col-middle20">Learning Activities</th>
                                    <th id="col4S-3" class="col-middle10 editable">Other</th>
                                    <th id="col4S-4" class="col-middle10 editable">Other</th>
									<th id="col4S-5" class="col-middle10 editable">Other</th>
									<th id="col4S-6" class="col-right10 editable">Other</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td header="col4S-1" class="editable left">Text</td>
                                    <td header="col4S-2" class="editable left">Text</td>
                                    <td header="col4S-3" class="editable center">-</td>
                                    <td header="col4S-4" class="editable center">-</td>
                                    <td header="col4S-5" class="editable center">-</td>
                                    <td header="col4S-6" class="editable center">-</td>
                                </tr>
                            </tbody>
                        </table>
	                    <div id="tableText4S" class="tableText"> 
	                        <div class="editableHtml hide">Text</div>
	                    </div>  
                    </div>
                </div>
            </div>
        </div><!-- #table3 -->
    </div><!-- .content -->

</section><!-- #schedule -->


<section id="philosophy">

	<h3>Philosophy and Expectations</h3>

    <div class="content editableHtml" style="padding-left:10px; padding-bottom: 10px;">

        <div id="section1Y" class="section1">
            <h4><b>Teaching Philosophy:</b></h4>
				<p>We in the College of Professional and Continuing Studies (PACS) believe that higher education is a crucial ingredient in becoming a successful,
				personally fulfilled human being and an actively engaged citizen of the state, nation, and world. Further, we operate with
				the foundational assumption that a University of Oklahoma education should be available to all qualified students
				regardless of their age, geographic location, or life circumstance.</p>
				
				<p>Acting on these assumptions, PACS strives to create significant and meaningful learning experiences through online and
				accelerated course delivery methods. All PACS courses incorporate interdisciplinary perspectives and provide students with
				a well-rounded, life-enriching liberal education combined with specialized study in selected program areas, thus preparing
				them for ever higher levels of learning. PACS faculty members provide instruction, encouragement, timely response, and
				constructive feedback to broaden and deepen the student's understanding of course materials.</p>
				
				<p>We understand that adult learners prefer, and have the best achievement, within a collaborative and interactive learning
				environment, while functioning on their own personal schedules. We also believe that all students are capable of learning
				and we aspire to enable students' self-agency in attaining their personal learning goals.</p>
				
			 <h4><b>Expectations:</b></h4>
			 	<div>You can expect instructors to:</div>
               	 <!-- bullets should be visible in this list -->
                	<div id="headings1O" class="headings">
                    	<div>
                        	<ul class="outcomes_list">
                            	<li>Challenge you to think about and understand the material in this course.</li>	
								<li>Encourage you to learn the material in the course and become a lifelong learner.</li>
								<li>Be available to return e-mails in a timely fashion, within 24-48 hours.</li>
								<li>Return written assignments in a week or less, quizzes and exams in 72 hours or less.</li>
								<li>Engage you in discussion.</li>
								<li>Provide feedback.</li>				
							</ul>
                    	</div>
                	</div>    
				<div>As the student, you are expected to:</div>
               	 <!-- bullets should be visible in this list -->
                	<div id="headings1O" class="headings">
                    	<div>
                        	<ul class="outcomes_list">
                            	<li>Accept responsibility for your learning.</li>
								<li>Be engaged in the course by logging in to the course every week, reading course announcements, knowing when
									assignments are due, and turning in all assignments on time.</li>	
								<li>Set aside enough time to read and understand assigned course materials, successfully complete quizzes and tests,
									actively participate in class discussions, and write thoughtful essays and research papers. Many PACS courses are
									offered in compressed formats, so the time devoted to each class per week should be adjusted accordingly.</li>
								<li>Read and apply feedback</li>
								<li>Use only the OU email address for all OU correspondence and assignments.</li>
								<li>Have all textbooks and course materials before the class starts.</li>
								<li>Ask your advisor if you have questions about your degree program or other questions not related to a specific course.</li>	
								<li>Have a reliable computer and a reliable Internet connection. Do some pre-planning and have a backup plan ready in
									the event you should have computer or Internet problems.</li>
								<li>Load all assignments in Canvas; do not email assignments to the professor.</li>
								<li>Practice your writing skills. Familiarize yourself with the Grammarly self-edit tool provided to PACS to check your
									papers prior to submission for grading.</li>	
							</ul>
						</div>
					</div>
			<h4><b>Grading Procedures</b></h4>
				<p>Students will submit assignments in Canvas at <a href='http://canvas.ou.edu/' target='_blank'>http://canvas.ou.edu/</a> Assignments will be graded, with comments, and returned to the
				student. Privacy will be maintained and student grades will not be publicly posted. This course is letter-graded.</p>

				<br>

				 <p>2021 College of Professional and Continuing Studies University of Oklahoma<p/> 
            
        </div><!-- .section1 -->
		
       
       <div id="section2Y" class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div id="headings2Y" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section2--> 

        <div id="section3Y" class="section3 hide">
            <h2 class="editable">Section 3</h2>
            <div id="headings3Y" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section3--> 

       <div id="section4Y" class="section4 hide">
            <h2 class="editable">Section 4</h2>
            <div id="headings4Y" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section4--> 
      
    </div><!-- .content -->
</section><!-- #philosophy -->




<section id="policies">

	<h3>Policies</h3>

    <div class="content editableHtml" style="padding-left:10px; padding-bottom: 10px;">

        <div id="section1P" class="section1">
        
            <p>Students will be responsible for understanding and adhering to all policies established by the College of Professional Studies and the University of Oklahoma.</p> 
        
 			<h3><b>Withdrawal Policy</b></h3>
				<p>Because the College of Professional and Continuing Studies offers courses in multiple class session lengths throughout the academic year, please refer to
				   the PACS academic advising website for rules and schedules regarding the College and University's withdrawal policies, procedures,
				   and deadlines: <a href='http://www.ou.edu/content/cls/advising-support.html' target='_blank'>http://www.ou.edu/content/cls/advising-support.html</a></p>
				
				<p>Dropping or withdrawing from a course may have an effect on your Financial Aid. Contact Financial Aid before you drop or withdraw
				   from a course after the term has started. lsaid.ou.edu, 405-325-2929.</p>
				
			<h3><b>Assignment Completion Policy</b></h3>
				<p>The College of Professional and Continuing Studies expects students to complete all assignments to earn a final grade in a given course.<p>
			
			<h3><b>Incomplete Policy</b></h3>
				<p>For sufficiently extenuating circumstances a student may receive a grade of and receive an extension to complete. To receive a
				   grade of a PACS student must satisfactorily complete a minimum of one-half of the course work, have a legitimate reason for not being
				   able to complete the work during the normal time frame of the course, receive permission of the instructor, and sign an Incomplete
				   Contract Agreement Form. The Incomplete Contract will be completed by the instructor and include a reason for the grade, a
				   description of the remaining assignments due, and the final due date for submitting these assignments for grading.</p>
				
				<p>In most cases, the time allotted to complete the remaining assignments for a PACS course will not exceed 120 days. The maximum time
				   limit allowed by the University of Oklahoma for completion of an is one calendar year. No PACS student may enroll in a
				   subsequent semester with two or more active grades.</p>
				   
				<p>Please refer to the PACS academic advising website for more information regarding the College and University's Incomplete Policies
				   and Procedures: <a href='http://www.ou.edu/content/cls/advising-support.html' target='_blank'>http://www.ou.edu/content/cls/advising-support.html</a></p>
				
			<h3><b>Additional Support for Learning</b></h3>
				<p>The College of Professional and Continuing Studies provides links to writing resources in the Content section of each Canvas course section. If you have
				   questions about assignment requirements or would like to request feedback on a rough draft, you are encouraged to communicate with
				   your course instructors while giving them enough lead time to respond before assignments are due.</p>
				
				<p>The OU Writing Center is a wonderful resource available to all students and is funded in part by your student course fees. The Writing
				   Center is equipped to help students both online and in-person: <a href='http://www.ou.edu/content/writingcenter/' target='_blank'>http://www.ou.edu/content/writingcenter/</a></p>
				
				<p>OU Libraries resources are available to all PACS students, including the ability to live chat, e-mail, and/or call a reference librarian with
				   questions you may have about finding and evaluating sources for research papers: <a href='http://libraries.ou.edu' target='_blank'>http://libraries.ou.edu</a>; <a href='http://guides.ou.edu/CLS' target='_blank'></a></p>
			
			<h3><b>Mental Health Support Services</b></h3>
				<p>If you are experiencing any mental health issues that are impacting your academic performance, counseling is available at the University Counseling Center (UCC). The Center is located on 	the second floor of the Goddard Health Center, at 620 Elm Rm. 201, Norman, OK 73019. To schedule an appointment call (405) 325-2911.</p>

				<p>For more information please visit http://www.ou.edu/ucc.</p>

			<h3><b>Additional PACS Policies</b></h3>
				<p>Absences & Late Work: While PACS faculty members are expected to communicate with the class throughout the academic session, it
				   is your responsibility to maintain personal communication with your instructors. If you need to miss a class (on-site), or if you are going
				   to be delayed in submitting assignments (online), you should make all efforts to contact your faculty members in advance to let them
				   know about your situation. Keep in mind that in most cases it is at the discretion of the instructor whether to grant an extension or
				   apply late penalties to an assignment received after the posted deadline. Instructors are also allowed to set penalties for missing onsite
				   class sessions.</p>
				
				<p>Faculty members are not obligated to initiate contact with you before giving assignment or final grades. If you have several absences
				   (on-site classes) or outstanding/late assignments, your grade may be seriously impacted.</p>
				
				<p>Netiquette: The College of Professional and Continuing Studies has established a set of Netiquette Guidelines to be followed when communicating with
				   your classmates and instructors. This information is available in the Content section of each Canvas course section and should be
				   reviewed before participating in your first discussion topic. Failure to abide by these guidelines can lead to sanctions as outlined in
				   the OU Student Rights and Responsibilities Code: <a href='http://www.ou.edu/content/dam/studentlife/documents/AllCampusStudentCode.pdf' target='_blank'>http://www.ou.edu/content/dam/studentlife/documents/AllCampusStudentCode.pdf</a></p>
				   
			<h3><b>Diversity Statement</b></h3>
				<p>The University of Oklahoma is committed to achieving a diverse, equitable,  and inclusive university community by
				 embracing each person's unique contributions, background, and perspectives. The University recognizes that fostering 
				 an inclusive environment for all, with particular attention to the needs of historically marginalized populations, 
				 is vital to the pursuit of excellence in all aspects of our institutional mission. This view enhances the OU experience 
				 for all students, faculty and staff, and for the communities that we engage.</p>
				   
			<h3><b>Disability Accommodations</b></h3> 	
				<p>The University of Oklahoma is committed to providing reasonable accommodation for all students with disabilities. Students with disabilities 
				   who require accommodations in course are requested to speak with the professor as early in the semester as possible. Students with disabilities 
				   must be registered with the Disability Resource Center prior to receiving accommodations in a course. The Disability Resource Center is located 
				   in Goddard Health Center, Suite 166, phone 405/325-3852 or TDD only 405/325-4173, and its website is www.ou.edu/drc. Students are responsible for
				   contacting and making arrangements with the Disability Resource Center.</p>

			<h3><b>Completion Policy</b></h3>
			    <p>The College of Professional and Continuing Studies expects students to complete all assignment types to earn a grade in a given course including 
			       being an active participant in discussions with replies to their peers. While a student may occasionally miss replying to peers in discussions, 
			       students cannot consistently not reply to peers in discussions. Students should reply to a minimum of 75% (6 out of 8) discussions.</p> 

				<p>The College of Professional and Continuing Studies expects students to complete final project outlines and drafts as assigned. Students may not 
				   submit the final draft without submitting the related assignments as assigned.</p> 

				<p>The College of Professional and Continuing Studies expects students to complete assignments according to the course schedule. Students are not 
				   allowed to submit all assignments at the end of the course. All extensions and exceptions from the schedule must be approved by the instructor 
				   prior to the due dates.</p> 

				<p>The College of Professional and Continuing Studies expects students to complete the course assignments by the last day of the courses. Incompletes 
				   are allowed at the discretion of the instructor and must be arranged prior to the end of the course. According to University policy, Incompletes 
				   can only occur if 75% of the course is complete. The student and instructor must complete an Incomplete contract for an Incomplete grade with an 
				   agreed final submission date.</p>
			
			<h3><b>Academic Integrity</b></h3>
				<p>Cheating is strictly prohibited at the University of Oklahoma, because it devalues the degree you are working hard to get. As a member of the OU community it is your responsibility to protect your educational investment by knowing and following the rules. For specific definitions on what constitutes cheating, review the Student’s Guide to Academic Integrity at <a href='http://integrity.ou.edu/students_guide.html' target='_blank'>http://integrity.ou.edu/students_guide.html</a>.</p>
 
				<p>To be successful in class, all work on exams and quizzes must be yours and yours alone.  You may not receive outside help. On examinations and quizzes you will never be permitted to use your notes, textbooks, calculators, or any other study aids. Should you see or know of someone else engaging in this behavior, you are encouraged to report it to PACS Administration or directly to the Office of Academic Integrity Programs. That student is devaluing not only their degree, but yours, too. It is our professional obligation to report academic misconduct. Sanctions for academic misconduct can include expulsion from the University and an F in the course, so do not cheat. It is simply not worth it.</p>
			
			<h3><b>Religious Observance</b></h3>
				<p>It is the policy of the University to excuse the absences of students that result from religious observances and to provide without penalty for the 
				   rescheduling of examinations and additional required classwork that may fall on religious holidays.</p>

			<h3><b>Reasonable Accommodation Policy</b></h3>
				<p>Students requiring academic accommodation should contact the Disability Resource Center for assistance at (405) 325-3852 or TDD: (405) 325-4173. For more information please see the Disability Resource Center website https://www.ou.edu/adrc. Any student in this course who has a disability that may prevent him or her from fully demonstrating his or her abilities should contact me personally as soon as possible so we can discuss accommodations necessary to ensure full participation and facilitate your educational opportunities.</p>
			
			<h3><b>Adjustments for Pregnancy/Childbirth Related Issues</b></h3>

				<p>Should you need modifications or adjustments to your course requirements because of documented pregnancy-related or childbirth-related issues, please contact me as soon as possible to discuss. Generally, modifications will be made where medically necessary and similar in scope to accommodations based on temporary disability. Please see www.ou.edu/content/eoo/faqs/pregnancy-faqs.htmlfor commonly asked questions.</p>
			
			<h3><b>Copyright Syllabus Statement for In-Person or Online Courses</b></h3>
				<p>Sessions of this course may be recorded or live-streamed. These recordings are the intellectual property of the individual faculty member and may not be shared or reproduced without the explicit, written consent of the faculty member. In addition, privacy rights of others such as students, guest lecturers, and providers of copyrighted material displayed in the recording may be of concern. Students may not share any course recordings with individuals not enrolled in the class or upload them to any other online environment.</p>

			<h3><b>Title IX Resources</b></h3>

				<p>For any concerns regarding gender-based discrimination, sexual harassment, sexual misconduct, stalking, or intimate partner violence, the University offers a variety of resources, including advocates on-call 24.7, counseling services, mutual no contact orders, scheduling adjustments and disciplinary sanctions against the perpetrator. Please contact the Sexual Misconduct Office 405-325-2215 (8-5, M-F) or OU Advocates 405- 615-0013 (24.7) to learn more or to report an incident.</p>

				<p>If a student contacts you in reference to either statement, please contact the Sexual Misconduct Officer.</p>

				<p>Please refer to the University’s Institutional Equity Office’s policies and procedures for a more detailed explanation and complaint procedure: for the Nondiscrimination Policy: http://www.ou.edu/home/eoo.html and for the Sexual Misconduct, Discrimination and Harassment Policy; http://www.ou.edu/home/misc.html. Or, contact the Institutional Equity Office directly at: (405) 325-3549, Norman Campus and Norman-based Tulsa Campus programs: Room 102, Evans Hall and/or the Sexual Misconduct Officer at (405) 325-2215: Walker Center, Room W220. Tulsa-based programs may also contact (918) 660-3107.</p>

			<h3><b>Land Acknowledgement Statement</b></h3>
				<p>Long before the University of Oklahoma was established, the land on which the University now resides was the traditional home of the “Hasinais” Caddo Nation and “Kirikirʔi:s” Wichita & Affiliated Tribes.</p>

				<p>We acknowledge this territory once also served as a hunting ground, trade exchange point, and migration route for the Apache, Comanche, Kiowa and Osage nations.</p>

				<p>Today, 39 tribal nations dwell in the state of Oklahoma as a result of settler and colonial policies that were designed to assimilate Native people.</p>

				<p>The University of Oklahoma recognizes the historical connection our university has with its indigenous community. We acknowledge, honor and respect the diverse Indigenous peoples connected to this land. We fully recognize, support and advocate for the sovereign rights of all of Oklahoma’s 39 tribal nations. This acknowledgement is aligned with our university’s core value of creating a diverse and inclusive community. It is an institutional responsibility to recognize and acknowledge the people, culture and history that make up our entire OU Community.</p>

			<h3><b>1.1 BASIC PRINCIPLE OF HONESTY</b></h3>

				<p>Honesty is a fundamental precept in all academic activities, and those privileged to be members of a university community have a special obligation to observe 
				   the highest standards of honesty and a right to expect the same standards of all others. Academic misconduct in any form is inimical to the purposes and 
				   functions of the university and therefore is unacceptable and rigorously proscribed.</p>

			<h3><b>1.2 DEFINITIONS</b></h3>

				<p>1.2.1 Academic Misconduct. Any act that improperly affects the evaluation of a student's academic performance or achievement. The following terms illustrate 
				   but do not delimit or define academic misconduct.</p>

				<ul>
					<li>Cheating: the use of unauthorized materials, methods, or information in any academic exercise, including improper collaboration;</li>
					<li>Plagiarism:  the representation of the words or ideas of another as one's own, including:</li>
					<li>direct quotation without both attribution and indication that material is being directly quoted, e.g. quotation marks;</li>
					<li>paraphrase without attribution;</li>
					<li>paraphrase with or without attribution where the wording of the original remains substantially intact and is  represented as the author's own;</li>
					<li>expression in one's own words, but without attribution, of ideas, arguments, lines of reasoning, facts, processes, or  other products of the intellect 
					    where such material is learned from the work of another and is not part of the   general fund of common academic knowledge;</li>
					<li>Fabrication: the falsification or invention of any information or citation in an academic exercise;</li>
					<li>Fraud: the falsification, forgery, or misrepresentation of academic  work, including the resubmission of work performed for one class for credit in 
					    another class without the informed permission of the second instructor; or the  falsification, forgery or misrepresentations of other academic 
					    records or documents, including admissions materials and transcripts; or the communication of false or misleading statements to obtain academic 
					    advantage or  to avoid academic penalty;</li>
					<li>Destruction, misappropriation or unauthorized possession of university property or property of another;</li>
					<li>Bribery or intimidation;</li>
					<li>Assisting others in any act proscribed by this code; or</li>
					<li>Attempting to engage in such acts.</li>
				</ul>

          
			<h3><b>Policy Change for Military Student Extensions and Exceptions</b></h3>

				<p>To better serve our military student population during a time when we have had more military members deployed over a longer period 
				  than we have ever had in the past.</p>
				    
				<p>A March 11, 2011 Memorandum from the University of Oklahoma Senior Vice President and Provost states:</p>
				
				<p>It is possible that students who are on active duty in the United States military, or who are in the Reserves or National Guard,
				  may be called to active service on short notice. I ask that all members of the faculty of the University be sensitive to the special needs 
				  of these students and be prepared to assist them in the disposition of their coursework.</p>
				  
				<p>In light of this the College of Professional and Continuing Studies has adopted the following guidelines for faculty teaching courses with military personnel:</p>

				<ol>
					<li>Provide an Automatic 24-hour extension:</li> 
					<ul>
						<li>Upon learning of a deployment, military students will be required to notify their instructor before the course begins.</li> 
						<li>If deployed during the course students should inform the instructor as soon as the information is available to them.</li> 
						<li>All deployed military students will be allowed an automatic 24-hour CST extension on all weekly assignments.</li>
					</ul>
					<li>Provide up to  one (1) week extension upon request:</li>
					<ul>
						<li>Upon request to the faculty, all deployed military students will receive up to a one-week extension on weekly assignments 
						 (including and not limited to the final assignment).</li> 
						<li>When more than one (1) week is needed, a special request can be made.  This request should be made in advance and requires 
						approval of the instructor and Director of Academic Programs. Academic Advisors may assist with special arrangements, as needed. 
						A plan should of completing the assignments should be provided with the request.</li>
					</ul> 
					<li>Incomplete policy</li> 
					<ul>
						<li>Deployed military students may be issued a grade of Incomplete.</li>
					</ul>
				</ol>
            
            
			<h3><b>Professor Policies, Procedures, and Course Requirements</b></h3>
			
				<p>This information is posted in syllabus and in the course in Canvas. Any updates or changes to the syllabus will be made available under Announcements on the Course homepage.</p>

				<p>Policies are subject to change. Read the policies at the beginning of each class. Policies may be slightly different depending on the modality
				   in which students attend class.</p> 
				   
				 <p>2021 College of Professional and Continuing Studies University of Oklahoma</p> 
            
            
        </div><!-- .section1 -->
		
       
       <div id="section2P" class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div id="headings2P" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section2--> 

        <div id="section3P" class="section3 hide">
            <h2 class="editable">Section 3</h2>
            <div id="headings3P" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section3--> 

       <div id="section4P" class="section4 hide">
            <h2 class="editable">Section 4</h2>
            <div id="headings4P" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section4--> 
      
    </div><!-- .content -->
</section><!-- #policies -->


<!-- #accordion -->
</div>

