/* line 1, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
li.include .fa-times {
  color: #ddd;
}

/* line 4, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
li.include .fa-check {
  color: #060;
}

/* line 7, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
li.exclude .fa-times {
  color: #600;
}

/* line 10, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
li.exclude .fa-check {
  color: #ddd;
}

/* line 13, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
li.exclude ol {
  display: none;
}

/* line 16, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.depth-1 {
  padding-left: 25px;
  background: #ddd;
  font-size: 1.5em;
}

/* line 21, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.depth-2 {
  background: #eee;
  padding-left: 50px;
  font-size: 1.25em;
}

/* line 26, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.depth-3 {
  padding-left: 75px;
}

/* line 29, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.btn.active {
  background: #0081c2;
  color: #fff;
  text-shadow: none;
}

/* line 34, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.btn.activeToggle {
  background: #0081c2;
  color: #fff;
  text-shadow: none;
}

/* line 40, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.download-icon {
  margin-left: 10px;
}

/* line 43, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.badge {
  margin: 0 2px;
}

/* line 46, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
#count {
  list-style-type: none;
  margin: 5px;
  min-height: 25px;
  text-align: center;
}

/* line 52, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
#count a {
  width: 200px;
}

/* line 55, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.enrollment-count {
  min-width: 30px;
  display: inline-block;
}

/* line 59, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.department {
  clear: both;
  margin-top: 0px;
  min-height: 0px;
}
/* line 64, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.department ul, .department h3 {
  margin: 0;
}
/* line 68, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.department h3 {
  line-height: 2;
}

/* line 72, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.department ul {
  padding: 0;
}

/* line 75, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.department li {
  padding: 0;
  list-style: none;
}

/* line 79, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
h1 {
  margin: 20px 0;
  text-shadow: 0px 2px 2px #000;
}

/* line 83, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
h2 {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

/* line 88, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.courses h2 {
  border-bottom: none;
  padding: 0;
}

/* line 92, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.li i {
  margin-right: 5px;
}

/* line 95, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.courses .fa-check-circle, #generateProcess .completed, .include .icon-ok {
  color: #468847;
}

/* line 98, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.exclude .icon-ok, .include .icon-remove, .undecided i {
  color: #c2c2c2;
}

/* line 101, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
#generateProcess .active {
  font-weight: bold;
}

/* line 104, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
#generateProcess .pending {
  color: #8d8d8d;
}

/* line 107, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.heading {
  background: #0f2439;
  box-shadow: 0px 2px 2px #9c9c9c;
  color: #fff;
  margin-bottom: 20px;
}

/* line 113, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.hover {
  background: #ffffae;
  border-radius: 10px;
}

/* line 117, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.icon-user.noInstructor {
  color: #c2c2c2;
}

/* line 120, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.instructorIcon {
  color: #4072a3;
}

/* line 123, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.instructorIcon:hover {
  text-decoration: none;
}

/* line 126, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.key {
  font-size: 12px;
  margin-top: 14px;
}

/* line 130, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.key i {
  font-size: 14px;
  margin-right: 5px;
}

/* line 134, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.courses .fa-question-circle, .exclude .icon-remove {
  color: #b94a48;
}

/* line 137, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.not-using-canvas, i.fa-times-circle {
  color: #9e9e9e;
}

/* line 140, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.courses ul ul {
  list-style-type: none;
  column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;
}

/* line 146, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 156, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
select, .btn {
  margin-bottom: 5px;
}

/* line 159, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
select {
  width: auto;
}

/* line 162, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.topLink {
  color: #fff;
  float: right;
  font-size: 16px;
  margin-right: 10px;
}

/* line 168, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
footer .logo img {
  max-width: 300px;
  max-height: 110px;
}

@media (max-width: 767px) {
  /* line 173, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
  body {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 177, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1024px) {
  /* line 184, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
  .courses ul ul {
    column-count: auto;
    -moz-column-count: auto;
    -webkit-column-count: auto;
  }
}
@media (max-width: 1420px) {
  /* line 192, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
  .courses ul ul {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
}
@media (max-width: 1920px) {
  /* line 200, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
  .courses ul ul {
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
  }
}
/* line 208, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.container {
  width: auto !important;
}

/* line 211, /var/www/ruby/salsa/app/assets/stylesheets/dashboard.css.scss */
.heading .navbar-nav {
  margin: 15px;
}
